<h2 class="text-center mt-3 mb-5">API Response Diff Checker</h2>

<div class="api-input-block d-flex justify-content-center">
  <div class="left-api">
    <h4 class="text-center"><app-api-request #leftApi instanceId="Left"></app-api-request></h4>
  </div>
  <div class="right-api">
    <h4 class="text-center"><app-api-request #rightApi instanceId="Right"></app-api-request></h4>
  </div>
</div>

<div class="text-center mt-3">
  <app-compare-response #compareResponse></app-compare-response>
  <button class="btn btn-primary compare-btn" (click)="compareResponses()">Compare</button>
</div>